# Logs
*.log

# Dependency directories
/node_modules/
/vendor/
/build/

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables
.env

# Compiled code
*.class
*.dll
*.exe

# IDE-specific files
.idea/
.vscode/

# Temporary files
/temp/
/*.tmp

# Specific files
/config/config.json
